body {
    font: 12pt Arial;
}

h1,
h2,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif ;
    font-weight: normal;
}

button {
    font-size: 12pt;
    padding: 30px;
}
